In [2]:
import pandas as pd
MLB_Data_Final = pd.read_csv('MLB_Data_Cleaned.csv')
MLB_Data_Final

,Season,Team,G_Bat,PA,HR,R,RBI,SB,BB%,K%,...,vFA (pi),ERA,xERA,FIP,xFIP,WAR_Pitch,OD,Current,AVG Salary,Median
0,1988,ATL,2119,6013,96,555,527,95,7.2%,14.1%,...,NaN,4.10,NaN,3.80,NaN,11.0,9967167.0,9967167.0,383353,140000
1,1988,BAL,1706,5979,137,550,517,69,8.4%,14.5%,...,NaN,4.55,NaN,4.37,NaN,6.3,9995404.0,9995404.0,416475,162500
2,1988,BOS,1644,6334,124,813,760,65,9.8%,11.5%,...,NaN,3.98,NaN,3.67,NaN,18.7,15544592.0,15544592.0,597869,405000
3,1988,CHC,2094,6203,113,660,612,120,6.5%,14.7%,...,NaN,3.88,NaN,3.63,NaN,14.4,12339833.0,12339833.0,457031,207500
4,1988,CHW,1705,6039,132,631,573,98,7.4%,15.0%,...,NaN,4.13,NaN,4.15,NaN,7.9,5906952.0,5906952.0,218776,142000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,2018,STL,2464,6200,205,759,725,63,8.5%,22.3%,...,93.7,3.85,NaN,3.97,4.24,14.4,101583666.0,145166999.0,5184536,1835000
896,2018,TBR,2371,6195,150,716,664,128,8.7%,22.4%,...,94.0,3.75,NaN,3.82,3.98,17.4,63147666.0,69905999.0,2589111,720000
897,2018,TEX,2300,6163,194,737,696,74,9.0%,24.1%,...,93.0,4.92,NaN,4.79,4.59,10.8,110154583.0,129237916.0,4038685,1025000
898,2018,TOR,2435,6076,217,709,680,47,8.2%,22.8%,...,91.9,4.85,NaN,4.53,4.54,8.8,144122200.0,145550771.0,5018992,2600000
899,2018,WSN,2441,6288,191,771,737,119,10.0%,20.5%,...,93.4,4.04,NaN,4.15,4.13,16.4,141622200.0,180193627.0,6006454,3500000

In [9]:
#MLB_Data_Final['Success_Score'] = (MLB_Data_Final['W']/(MLB_Data_Final['W'] + MLB_Data_Final['L']))*100

MLB_Data_Final['Success_Score'] = round((MLB_Data_Final['W']/(MLB_Data_Final['W'] + MLB_Data_Final['L']))*100, 2)

MLB_Data_Final.to_csv('MLB_Data_Cleaned.csv')